<header class="page-header">
  <nav class="breadcrumbs" aria-label="breadcrumb">
      <a href="{{ config.base_url }}">Home</a>
  </nav>
  <h1>{{ section.title }}
    {% for feed_filename in config.feed_filenames %}
    <a href="{{ get_url(path=feed_filename, trailingslash=false) | safe }}" title="RSS" aria-label="RSS">
      {{ <cela.material_icon name="rss_feed" size="23" /> }}
    </a>
    {% endfor %}
</h1>
</header>
{% if paginator %}
{% for page in paginator.pages %}
{% set card_page = page %}
{% include "partials/common/post_card.html" %}
{% endfor %}
{% elif section.pages %}
{% for page in section.pages %}
{% set card_page = page %}
{% include "partials/common/post_card.html" %}
{% endfor %}
{% else %}
<p>No posts yet.</p>
{% endif %}

{% include "partials/common/pagination.html" %}
