{% set list_pages = list_pages | default(value=[]) | sort(attribute="date", reverse=true) %}
{% set client_paginate = client_paginate | default(value=false) %}
{% set paginate_by = paginate_by | default(value=5) %}
{% set current_year = nil %}

{% if client_paginate %}
<div
  class="post-list"
  data-list-paginate="true"
  data-paginate-by="{{ paginate_by }}"
>
{% endif %}
{% for page in list_pages %}
{% if page.year != current_year %}
{% set current_year = page.year %}
<h1 class="home-year reveal-on-scroll"{% if client_paginate %} data-list-heading="true"{% endif %}>{{ current_year }}</h1>
{% endif %}
{% set card_page = page %}
{% set card_reveal = true %}
{% include "partials/common/post_card.html" %}
{% endfor %}
{% if client_paginate %}
</div>
<footer class="page-footer">
  <nav class="pagination" data-list-pagination aria-label="Pagination" hidden></nav>
</footer>
{% endif %}
