<article class="taxonomy-list-entry">
	
<header class="taxonomy-header">
	<h1>{{ title }}</h1>
</header>

{% if config.extra.cela.show_taxonomies_description %}
<div class="taxonomy-desc">
{% if taxonomy.name == "tags" %}
{% set description = ui_tags_desc %}
{% elif taxonomy.name == "categories" %}
{% set description = ui_categories_desc %}
{% else %}
{% set description = "" %}
{% endif %}
{% for kv in config.extra.cela.taxonomies_desc %}
{% if kv.name == taxonomy.name %}
{% set description = kv.desc %}
{% endif %}
{% endfor %}
{% if description != "" %}
<p>{{ description }}</p>
{% endif %}
</div>
{% endif %}
</article>