{# Legacy aliases → Material Symbols names (local SVGs under static/icons/material/) #}
{% component cela.extra_icon(icon, size="12") %}
{%- if icon == "link" -%}
{{ <cela.material_icon name="open_in_new" size={size} /> }}
{%- elif icon == "robot" -%}
{{ <cela.material_icon name="smart_toy" size={size} /> }}
{%- elif icon == "arrowright" -%}
{{ <cela.material_icon name="chevron_right" size={size} /> }}
{%- elif icon == "articles" -%}
{{ <cela.material_icon name="article" size={size} /> }}
{%- else -%}
{{ <cela.material_icon name={icon} size={size} /> }}
{%- endif -%}
{% endcomponent cela.extra_icon %}
