{% component cela.year_cards(pages, client_paginate=false, paginate_by=5) %}
{% if client_paginate %}
<div
  class="post-list"
  data-list-paginate="true"
  data-paginate-by="{{ paginate_by }}"
>
{% endif %}
{% set pages = pages | sort(attribute="date", reverse=true) %}
{% for page in pages %}
{% if loop.first or page.year != pages[loop.index0 - 1].year %}
<h1 class="home-year reveal-on-scroll"{% if client_paginate %} data-list-heading="true"{% endif %}>{{ page.year }}</h1>
{% endif %}
{% set card_page = page %}
{% set card_reveal = true %}
{% include "partials/common/post_card.html" %}
{% endfor %}
{% if client_paginate %}
</div>
<footer class="page-footer">
  <nav class="pagination" data-list-pagination aria-label="Pagination" hidden></nav>
</footer>
{% endif %}
{% endcomponent cela.year_cards %}

{% component cela.bare_cards(pages, client_paginate=false, paginate_by=5) %}
{% if client_paginate %}
<div
  class="post-list"
  data-list-paginate="true"
  data-paginate-by="{{ paginate_by }}"
>
{% endif %}
{% for page in pages %}
{% set card_page = page %}
{% set card_reveal = true %}
{% include "partials/common/post_card.html" %}
{% endfor %}
{% if client_paginate %}
</div>
<footer class="page-footer">
  <nav class="pagination" data-list-pagination aria-label="Pagination" hidden></nav>
</footer>
{% endif %}
{% endcomponent cela.bare_cards %}
