{% component cela.social_icon(icon) %}
{%- if icon == "email" -%}
{% include "icons/social/email.html" %}
{%- elif icon == "github" -%}
{% include "icons/social/github.html" %}
{%- elif icon == "googlescholar" -%}
{% include "icons/social/googlescholar.html" %}
{%- elif icon == "linkedin" -%}
{% include "icons/social/linkedin.html" %}
{%- elif icon == "rss" -%}
{% include "icons/social/rss.html" %}
{%- elif icon == "wiki" or icon == "wikipedia" -%}
{% include "icons/social/wiki.html" %}
{%- endif -%}
{% endcomponent cela.social_icon %}
