<footer class="footer">
  {% if config.extra.cela.show_home_social_icons | default(value=true) %}
  <div class="footer-social">
    {% include "partials/home/home_social_icons.html" %}
  </div>
  {% endif %}
  <div class="footer-credits">
    {% if config.extra.cela.copyright %}
    <span>{{ config.extra.cela.copyright }}</span>
    {% else %}
    <span>&copy; {{ now() | date(format="%Y") }} <a href="{{ config.base_url }}">{{ config.author }}</a></span>
    {% endif %}
    <span>
        Powered by
        <a href="https://www.getzola.org/" rel="noopener noreferrer" target="_blank">Zola</a> &
        <a href="https://github.com/edwardzcn-decade/cela" rel="noopener" target="_blank">Cela</a>
    </span>
  </div>
</footer>

{% if config.extra.cela.show_scroll_to_top %}
<a href="#top" aria-label="Go to top" title="Go to Top (Alt + G)" class="top-link" id="top-link" accesskey="g">
  {{ macro_material_icon::material_icon(name="arrow_upward") }}
</a>
{% endif %}

{% set is_search = (page and page.extra and page.extra.is_search_page) or (section and section.extra and section.extra.is_search_page) %}
{% if is_search %}
<script defer src="{{ get_url(path='js/search.js') | safe }}"></script>
{% endif %}
