{% set posts_section = get_section(path="_index.md") %}
{% set num_posts = posts_section | length %}
{% if num_posts > 1 %}
<nav class="paginav">
    {% if page.higher %}
    <a class="prev" href="{{ page.higher.permalink }}">
        <span class="title">{{ ui_prev_post }}</span>
        <span class="paginav-name">{{ page.higher.title }}</span>
    </a>
    {% endif %}
    {% if page.lower %}
    <a class="next" href="{{ page.lower.permalink }}">
        <span class="title">{{ ui_next_post }}</span>
        <span class="paginav-name">{{ page.lower.title }}</span>
    </a>
    {% endif %}
</nav>
{% endif %}